@charset "utf-8";
*, *::before, *::after { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
  list-style-type: none;
  user-select: none;
}



body {
  background-color: #333;
  background-color: rgb(197, 242, 63);
  background-color: rgba(31, 172, 237, 0.214);
}

// snake game ---
//--------------------------------------------
// smartPhone size ---

@media(min-width: 416px) {
  #canvas {
    display: none;
  }
  .btn-unit {
    display: none;
  }
  .monster {
    display: block;
    width: 45%;
    margin: 20px auto;
  }
}

//--------------------------------------------
// pc size ---

@media(min-width: 810px) {
  #canvas {
    display: block;
    width: 950px;
    height: 950px;
    background-color: #fff;
    // background-color: hsl(181, 95%, 64%);
    // background-color:rgb(244, 117, 19);
    margin: 50px auto;
    border-radius: 20px;
  }
  .btn-unit, .monster {
    display: none;
  }
}

//--------------------------------------------
// smartPhone size ---

@media(max-width: 415px) {
  #canvas {
    display: block;
    width: 365px;
    height: 365px;
    margin: 50px auto;  // bc20
    border-radius: 20px;
  }
  .btn-unit {
    // display: block;
    margin-top: 30px;
    .btn {
      width: 100px;
      height: 50px;
      color: red;
      background-color: rgb(196, 196, 196);  // !!!
      border: 3px solid red;
      margin: 10px 5px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
    }
    .btn-wrapper {
      display: flex;
      justify-content: center;
    }
    .btn-top, .btn-replay {
      margin: auto;
    }
    .btn-replay {
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
      color: black;
      background-color: skyblue; // !!!
      border: 3px solid skyblue;
    }
  }
  .monster {
    display: none;
  }
}





















