@font-face {
  font-family: "Verdana";
  src: local("Verdana"), url("font/Verdana.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Fredoka-One";
  src: local("Fredoka One"), local("Fredoka-One"), url("font/Fredoka-One.ttf") format("truetype");
  font-display: swap;
}
body {
  background-color: #333;
  background-color: rgb(197, 242, 63);
  background-color: rgba(31, 172, 237, 0.214);
  overflow: hidden;
}

@media (min-width: 416px) {
  #canvas {
    display: none;
  }
  .btn-unit {
    display: none;
  }
  .monster {
    display: block;
    width: 45%;
    margin: 20px auto;
  }
}
@media (min-width: 951px) {
  #canvas {
    font-family: "Fredoka-One";
    display: block;
    width: 950px;
    height: 950px;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 20px;
  }
  .btn-unit, .monster {
    display: none;
  }
  .gameOverText {
    position: fixed;
    top: 493px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Fredoka-One";
    color: rgba(255, 0, 0, 0.9019607843);
    font-size: 65px;
    visibility: hidden;
  }
  .gameOverText.visible {
    visibility: visible;
  }
  .msg {
    font-family: "Fredoka-One";
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    color: #0af;
    font-size: 2em;
    text-transform: uppercase;
  }
  .guide {
    font-family: "Fredoka-One";
    text-align: center;
    color: #0af;
    font-size: 2em;
    text-transform: uppercase;
  }
}
@media (max-width: 951px) {
  .msg, .guide {
    display: none;
  }
  .gameOverText {
    display: none;
  }
}
@media (max-width: 415px) {
  #canvas {
    display: block;
    width: 365px;
    height: 365px;
    margin: 50px auto;
    border-radius: 20px;
  }
  .btn-unit {
    margin-top: 30px;
  }
  .btn-unit .btn {
    width: 100px;
    height: 50px;
    color: red;
    background-color: rgb(196, 196, 196);
    border: 3px solid red;
    margin: 10px 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  .btn-unit .btn-wrapper {
    display: flex;
    justify-content: center;
  }
  .btn-unit .btn-top, .btn-unit .btn-replay {
    margin: auto;
  }
  .btn-unit .btn-replay {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: skyblue;
    border: 3px solid skyblue;
    padding-bottom: 5px;
  }
  .monster {
    display: none;
  }
}