@charset "utf-8";

@font-face {
  font-family: 'Verdana';
  src: local('Verdana'),
  url('font/Verdana.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka-One';
  src: local('Fredoka One'), local('Fredoka-One'),
  url('font/Fredoka-One.ttf') format('truetype');
  font-display: swap;
}

// snake game ---
//--------------------------------------------
// smartPhone size ---

body {
  font-family: 'Fredoka-One';
  background-color: #333;
  background-color: rgb(197, 242, 63);
  background-color: rgba(31, 172, 237, 0.214);
  overflow: hidden;
}

@media(min-width: 431px) {
  #canvas {
    display: none;
  }
  .btn-unit {
    display: none;
  }
  .monster {
    display: block;
    width: 45%;
    margin: 20px auto;
  }
}

//--------------------------------------------
//* pc size ---

@media(min-width: 951px) {
  #canvas {
    font-family: 'Fredoka-One';
    display: block;
    width: 950px;
    height: 950px;
    background-color: #fff;
    // background-color: hsl(181, 95%, 64%);
    // background-color:rgb(244, 117, 19);
    margin: 50px auto;
    border-radius: 20px;
  }
  .btn-unit, .monster {
    display: none;
  }
  .gameOverText {
    position: fixed;
    top: 493px;
    left: 50%;
    transform: translateX(-50%);
    font-family:'Fredoka-One';
    color: #ff0000e6;
    font-size: 65px;
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }
  .msg {
    font-family: 'Fredoka-One';
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    color: #0af;
    font-size: 2em;
    text-transform: uppercase;
  }
  .guide {
    font-family: 'Fredoka-One';
    text-align: center;
    color: #0af;
    font-size: 2em;
    text-transform: uppercase;
  }
}

@media (max-width: 951px) {
  .msg, .guide, .gameOverText {
    display: none;
  }
}

//--------------------------------------------
//* smartPhone size ---

@media(max-width: 430px) {
  #canvas {
    display: block;
    width: 365px;
    height: 365px;
    margin: 50px auto;  // bc20
    border-radius: 20px;
  }
  .btn-unit {
    // display: block;
    margin-top: 30px;
    .btn {
      width: 100px;
      height: 50px;
      color: red;
      background-color: rgb(196, 196, 196); 
      border: 3px solid red;
      margin: 10px 5px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
    }
    .btn-wrapper {
      display: flex;
      justify-content: center;
    }
    .btn-top, .btn-replay {
      margin: auto;
    }
    .btn-replay {
      font-family: Verdana;
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      background-color: skyblue; 
      border: 3px solid skyblue;
      padding-bottom: 5px;
    }
  }
  .monster {
    display: none;
  }
  //* if ctx fillText not working..
  //* use this instead ---
  // .gameOverText {
  //   display: block;
  //   position: absolute;
  //   top: 220px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   font-size: 25px;
  //   color: #f00;
  //   visibility: hidden;
  //   &.visible {
  //     visibility: visible;
  //   }
  // }
  //* -----------------------------
}


//--------------------------------------------



















